

/* Navigation */

.subjects_ {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/subjects");
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: auto;

}

.form_{
    width: 700px;
    height: 500px;
}
.add_notes_ {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/add_notes.webp");
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: auto;

}
.line_{
    margin-top: 70px;
    width: 75%;
    border: 2px solid wheat;
    border-radius: 5px;
}
.button_{
    color: white;
    font-weight: bold;
    font-size: 30px;

}

.marks_info_{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/marks_info_.jpeg");
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    width: 100%;
    position: fixed;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    padding-bottom: 50px;
}

.logo {
    line-height: 30px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}


a.link:hover {
    color:blu;
}


nav {
    position: fixed;
    width: 100%;
    line-height: 30px;
}

nav ul {
    line-height: 30px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.navigation ul {
    background:#0a093f;
}

nav.grey ul {
    background: gray;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

/* nav ul li Link a {
    text-decoration: none;
    color: black;
    font-size: 16px;
} */

span{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu-icon {
    line-height: 40px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: black;
    display: none;
}

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}


.teacher {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/teacher.jpg");
    background-position: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 700px;
    padding-top: 200px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}



/* Subject */
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    height: 50px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Footer */

footer{
    background-color: #0a093f;
}